@model Demo.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@section DevExpressStyles {
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.FormLayout },
        new StyleSheet { ExtensionType = ExtensionType.GridView },
        new StyleSheet { ExtensionType = ExtensionType.TextBox },
        new StyleSheet { ExtensionType = ExtensionType.ButtonEdit },
        new StyleSheet { ExtensionType = ExtensionType.Button },
        new StyleSheet { ExtensionType = ExtensionType.Label },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit },
        new StyleSheet { ExtensionType = ExtensionType.ComboBox },
        new StyleSheet { ExtensionType = ExtensionType.LoadingPanel },
        new StyleSheet { ExtensionType = ExtensionType.CallbackPanel }
        )
}

@section DevExpressScripts
{
    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.FormLayout },
        new Script { ExtensionType = ExtensionType.GridView },
        new Script { ExtensionType = ExtensionType.TextBox },
        new Script { ExtensionType = ExtensionType.ButtonEdit },
        new Script { ExtensionType = ExtensionType.DateEdit },
        new Script { ExtensionType = ExtensionType.ComboBox },
        new Script { ExtensionType = ExtensionType.Button },
        new Script { ExtensionType = ExtensionType.Label },
        new Script { ExtensionType = ExtensionType.LoadingPanel },
        new Script { ExtensionType = ExtensionType.CallbackPanel }
        )
}

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="row mt-5">
    <div class="col-12">
        <h1 class="text-center">List of Employees</h1>
        @Html.Partial("_EmployeesGridViewPartial", Model)
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        const toastType = '@TempData["ToastType"]', toastMessage = '@TempData["ToastMessage"]';
        DisplayToastMessage(toastType, toastMessage);

        function onEmployeesGridViewToolbarItemClick(s, e) {
            switch (e.item.name) {
                case 'EmployeesGridViewToolbarButtonCreateEmployee':
                    location.href = '/Home/CreateEmployee';
                    break;
            }
        }
    </script>
}
