<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.Bootstrap },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Icons }
        )
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Bootstrap },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.Icons }
        )
    @Styles.Render("~/styles/bootstrap")
    @Styles.Render("~/styles/packages")
    @RenderSection("styles", required: false)
</head>
<body>
    @Html.Partial("_NavBarPartial")
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        @Html.Partial("_FooterPartial")
    </div>
    @Scripts.Render("~/scripts/bootstrap")
    @Scripts.Render("~/scripts/packages")
    @Scripts.Render("~/scripts/toast")
    @RenderSection("scripts", required: false)
</body>
</html>